/*reset*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

/*NAV*/
.nav__general {
  background-color: #191068;
  width: auto; }

/*BACKROUND*/
body {
  background-color: #211e1e; }

/*Footer*/
