/*reset*/
*{
    margin: 0;
	padding: 0;
    list-style: none;
	text-decoration: none;
    box-sizing: border-box;

}



/*NAV*/


.nav__general{
    background-color: rgb(25, 16, 104);
    width: auto;
}

/*BACKROUND*/

body{
    background-color: #211e1e;
}



/*Footer*/
